h1 {
  text-align: center;
  color: #000000;
}

#p1 {
  width: 1306px;
  height: 76px;
  color: #45338d;
}

#p2 {
  color: #e2296c;
}

#flower {
  width: 1306px;
  height: 200px;
}
#slider {
  width: 623px;
  height: 164px;
}
